<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Interakt_App>
			<version>0.2.2</version>
		</Interakt_App>
	</modules>
	<global>
		<modules>
			<interakt_app>
				<class>
					Interakt_App_Model
				</class>
			</interakt_app>
		</modules>
		<helpers>
			<interakt_app>
				<class>
					Interakt_App_Helper
				</class>
			</interakt_app>
		</helpers>
		<blocks>
            <interakt_app>
                <class>Interakt_App_Block</class>
            </interakt_app>
        </blocks>
	</global>
    <admin>
        <routers>
            <interakt_app>
                <use>admin</use>
                <args>
                    <module>Interakt_App</module>
                    <frontName>interakt_app</frontName>
                </args>
            </interakt_app>
        </routers>
    </admin>
	<frontend>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<interakt_app>
						<type>model</type>
						<class>Interakt_App_Model_Observer</class>
						<method>addInteraktJs</method>
					</interakt_app>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<interakt_app>
						<type>model</type>
						<class>Interakt_App_Model_Observer</class>
						<method>addCustomJs</method>
					</interakt_app>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</adminhtml>
</config>
